{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-card">

        <h2>Reset Link Sent</h2>
        <p class="auth-subtitle">
            We’ve sent an email to your inbox with instructions to reset your password.
        </p>

        <div class="auth-links">
            <a href="{% url 'signin' %}">Back to Sign In</a>
        </div>

    </div>
</section>
{% endblock %}
{% block extra_js %}
<script src="{% static 'core/js/auth.js' %}"></script>
{% endblock %}
